<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tekla.testbcfapiclient" android:installLocation="auto" android:versionName="1.0" android:versionCode="1">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Test BCF API Client"></application>
</manifest>